# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
GoGPUtils
coverage.txt
.vscode
bench_new.txt
.bench.txt
testdata/files/dante.txt
.idea/

testdata/*
