name: Go
on: [push]
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

      - name: Set up Go 1.15
        uses: actions/setup-go@v1
        with:
          go-version: 1.15.6
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v1

      - name: Get dependencies
        run: |
          go clean
          go list -u -m all

      - name: Build
        run: go build -v .

      - name: Test
        run: go test -race -covermode=atomic `go list ./... | grep -v aws`
