name: Go
on: [ push ]
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

      - name: Set up Go 1.17.3
        uses: actions/setup-go@v2
        with:
          go-version: 1.17.3
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Get dependencies
        run: |
          go clean
          go mod download
          go get -v -u

      - name: Build
        run: go build -v .

      - name: Test
        run: go test -race `go list ./... | grep -v aws | grep -v sftp`
